AI Research Agent.yml
app:
  description: An AI research assistant that answers technical questions using OpenAI,
    Retrieval-Augmented Generation (RAG), prompt engineering, and external tools.
  icon: 🤖
  icon_background: '#FFEAD5'
  icon_type: emoji
  mode: workflow
  name: AI Research Agent
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.4.2@21195ee1321849e0a7d4b3f6b2fd8c2be23ea6c7182e1b444ecc4c1711b52468
    version: null
kind: app
version: 0.6.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        attachment_image_file_size_limit: 2
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        file_upload_limit: 50
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: llm
        targetType: end
      id: 1782421064067-source-1782421385543-target
      source: '1782421064067'
      sourceHandle: source
      target: '1782421385543'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: 1782421041000-source-1782422955863-target
      source: '1782421041000'
      sourceHandle: source
      target: '1782422955863'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: 1782422955863-source-1782421064067-target
      source: '1782422955863'
      sourceHandle: source
      target: '1782421064067'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        selected: false
        title: User Input
        type: start
        variables:
        - default: ''
          hint: ''
          label: Question
          max_length: 1000
          options: []
          placeholder: ''
          required: true
          type: paragraph
          variable: query
      height: 109
      id: '1782421041000'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1782422955863'
          - result
        model:
          completion_params: {}
          mode: chat
          name: gpt-5-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: 34d70d43-d99d-4e5d-a37f-892b20b57db6
          role: system
          text: 'You are an AI Research Agent.


            Use the following retrieved context to answer the user''s question.


            <context>

            {{#context#}}

            </context>


            If the answer exists in the retrieved context,

            answer ONLY based on that information.


            If the retrieved context does not contain the answer,

            say that the uploaded documents do not contain the information,

            then provide a general answer separately.


            Never fabricate information.


            You are an AI Research Agent.


            Use the retrieved knowledge as your primary source of information.


            Instructions:


            - Always answer using the retrieved documents first.

            - If the answer is not found in the knowledge base, use your own knowledge
            and clearly mention that it is general knowledge.

            - Never fabricate information.

            - Summarize clearly and professionally.


            Format:


            ## Summary


            ## Key Points


            ## Detailed Explanation


            ## References'
        selected: false
        title: LLM
        type: llm
        vision:
          enabled: false
      height: 88
      id: '1782421064067'
      position:
        x: 682
        y: 282
      positionAbsolute:
        x: 682
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        outputs:
        - value_selector:
          - '1782421064067'
          - text
          value_type: string
          variable: answer
        selected: false
        title: Output
        type: end
      height: 88
      id: '1782421385543'
      position:
        x: 1011.0090026855469
        y: 331
      positionAbsolute:
        x: 1011.0090026855469
        y: 331
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        dataset_ids:
        - lP+i4UuCfvdmEHEDNYEZ54yN3QiNZF3Wyhbta/qS3GahVWBxu8iDfCeDR2yTG4zO
        multiple_retrieval_config:
          reranking_enable: false
          reranking_mode: reranking_model
          top_k: 4
        query_attachment_selector: []
        query_variable_selector:
        - '1782421041000'
        - query
        retrieval_mode: multiple
        selected: false
        title: Knowledge Retrieval
        type: knowledge-retrieval
      height: 90
      id: '1782422955863'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -0.6841556252110657
      y: 185.72619457261416
      zoom: 1
  rag_pipeline_variables: []
